{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Expenses{% endblock title %}

{% block content %}
<div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Expenses</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">You are viewing and editing expense id {{expense.id}} for client {{expense.client}}</a>
                </li>            
            </ol>
        </div>    
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4>Expense ID: {{expense.id}}</h4>                
                <hr />                                
                <form name="update-expense" method="post" action="{% url "expenses:view" expense.id %}" class="form-horizontal form-material">
                    {% csrf_token %}
                    <div class="row">
                        {% for each in form %}
                            <div class="col-md-4 input-form">
                                <h5>{{each.label}}</h5>
                                {% render_field each class="form-control form-control-line" %}
                            </div>                            
                        {% endfor %}
                    </div>
                    <input type="submit" name="submit-job-form" value="Update this expense" class="btn btn-success" />                
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}