{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/favicon.png" %"}>
    <title>{% block title %}{% endblock title %} - Spedition India</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static "assets/plugins/chartist-js/dist/chartist.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/chartist-js/dist/chartist-init.css" %}" rel="stylesheet">
    <link href="{% static "assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" %}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{% static "assets/plugins/c3-master/c3.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static "css/colors/blue.css" %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">
        {% if request.user.is_authenticated %}
            {% include "menu.html" %}
            {% include "header.html" %}  
        {% endif %}
            <div class="page-wrapper">                              
                <div class="container-fluid">
                    {% include "messages.html" %}                    
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            <footer class="footer"> © Spedition India CRM v1. Developed by Dehi Nerds.</footer>
    </div>
    <script src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "assets/plugins/bootstrap/js/tether.min.js" %}"></script>
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "js/jquery.slimscroll.js" %}"></script>
    <!--Wave Effects -->
    <script src="{% static "js/waves.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}"></script>
    <!--stickey kit -->
    <script src="{% static "assets/plugins/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "js/custom.min.js" %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="{% static "assets/plugins/chartist-js/dist/chartist.min.js" %}"></script>
    <script src="{% static "assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js" %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static "assets/plugins/d3/d3.min.js" %}"></script>
    <script src="{% static "assets/plugins/c3-master/c3.min.js" %}"></script>
    <!-- Chart JS -->
    <script src="{% static "js/dashboard1.js" %}"></script>
</body>
</html>